*{
  background-color: #ccccff;
}

body {
  txt-align: center;
  color: #663300;
}

header {
  background-image: url("hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  object-fit: fill;
  width: 1000px;
  height: 400px;
  color: #663300;
}
button {
color: #663300;
background-color: #ffffcc;
width: 100px;
height: 50px;
}

@media screen and (min-width:0px) and (max-width:600px) {
  .container {
    txt-align: center;
  }
}

@media screen and (min-width:601px) {
  .container {
    txt-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width:800px) {
  .container {
  }
}
