body{
  text-align: center;
  background-color: #ffffcc;
}

#imageBox{

}

#storyText{
  text-align: center;
  position: center;
  background-color: black;
  color: white;
  border: 5px solid white;
}
